.row
    .col-lg-4.col-md-1
        .panel.panel-red
          .panel-heading
            .row
              .col-xs-3
                i.fa.fa-bullhorn.fa-2x
              .col-xs-9.text-right
                #new_events
                div New Alerts!
          a(href='events#')
            .panel-footer
              span.pull-left View Details
              span.pull-right
                i.fa.fa-arrow-circle-right
              .clearfix
      .col-lg-4.col-md-1
        .panel.panel-yellow
          .panel-heading
            .row
              .col-xs-3
                i.fa.fa-bell.fa-2x
              .col-xs-9.text-right
                #new_notifications
                div New Notifications!
          a(href='notifications#')
            .panel-footer
              span.pull-left View Details
              span.pull-right
                i.fa.fa-arrow-circle-right
              .clearfix
      .col-lg-4.col-md-1
        .panel.panel-green
          .panel-heading
            .row
              .col-xs-3
                i.fa.fa-history.fa-2x
              .col-xs-9.text-right
                div HISTORY!
          a(href='history#')
            .panel-footer
              span.pull-left View Details
              span.pull-right
                i.fa.fa-arrow-circle-right
              .clearfix
.row
    include realtime.jade

//      .col-lg-4
//        .panel.panel-default
//          .panel-heading
//            i.fa.fa-bullhorn.fa-fw
//            |  Notifications Panel
//          .panel-body
//            .list-group#notificationDashBoard
