.row
    .col-lg-6
        .panel.panel-danger
          .panel-heading
            | New Alerts
          .panel-body
              #event-new
      .col-lg-6
        .panel.panel-primary
          .panel-heading
            | Dismissable Alerts
          .panel-body
              #event-dismiss
//
            .alert.alert-success.alert-dismissable
              #event-dismiss
            .alert.alert-info.alert-dismissable

            .alert.alert-warning.alert-dismissable

            .alert.alert-danger.alert-dismissable
              #event-dismiss
