.row
    .col-lg-6
        .panel.panel-default
          .panel-heading
            | New Alert
          .panel-body
            .alert.alert-success
              #event-new
              a.alert-link(href='#') Alert Link.

            .alert.alert-info
              #time
              a.alert-link(href='#') Alert Link.

            .alert.alert-warning
              | attack 3
              a.alert-link(href='#') Alert Link.

            .alert.alert-danger
              #date
              a.alert-link(href='#') Alert Link.

      .col-lg-6
        .panel.panel-default
          .panel-heading
            | Dismissable Alerts
          .panel-body
            .alert.alert-success.alert-dismissable
              button.close(type='button', data-dismiss='alert', aria-hidden='true') ×
              #command
              a.alert-link(href='#') Alert Link.

            .alert.alert-info.alert-dismissable
              button.close(type='button', data-dismiss='alert', aria-hidden='true') ×
              | attacked 2
              a.alert-link(href='#') Alert Link.

            .alert.alert-warning.alert-dismissable
              button.close(type='button', data-dismiss='alert', aria-hidden='true') ×
              | attacked 3
              a.alert-link(href='#') Alert Link.

            .alert.alert-danger.alert-dismissable
              button.close(type='button', data-dismiss='alert', aria-hidden='true') ×
              | attacked 4
              a.alert-link(href='#') Alert Link.
