.row
    .col-lg-6
        .panel.panel-red
          .panel-heading
            | New Alerts
          .panel-body
              #event-new

      .col-lg-6
        .panel.panel-primary
          .panel-heading
            | Dismissable Alerts
          .panel-body
              #event-dismiss
.row
              #dismiss-all-button
