.row
    .col-lg-6
        .panel.panel-red
          .panel-heading
            | New Notifications
          .panel-body
            #notification-new

      .col-lg-6
        .panel.panel-primary
          .panel-heading
            | Dismissable Notifications
          .panel-body
              #notification-dismiss

.row
              #dismiss-all-button
