
.row
  .col-lg-12
    .panel.panel-default
      .panel-heading
        i.fa.fa-bar-chart-o.fa-fw
        |  Realtime scanning report
      .panel-body
        #radio-selection
        #select-options
        #moving-chart.flot-chart-content(style='height:400px;')
        #time-line
        #value-section
