.row
  .col-lg-12#test
    div#select-button	
    div#top_contain
    div#demo
    div#footer
.row
    .col-lg-12
        .panel.panel-default
          .panel-heading
            i.fa.fa-bar-chart-o.fa-fw		  
            |  Statistics Chart & Table
            .pull-right	 
          .panel-body
            #virus-plot.flot-chart-content(style='height:600px;')
            #select-options
            #value-section
