#messages {
	height: 460px;
    overflow: auto; 
}
#messages table {
	border-collapse:collapse;
	
}
#messages th {
	border: 1px solid black;
	text-align: center;
	background-color:green;
	color:white;
	font-size: 17px;
	padding-top:3px;
}
#messages td {
	border: 1px solid black;
	text-align: left;
	padding-right: 3px;
	padding-left: 3px;
	font-size: 10px;
}
#footer p {
	color: #428bca;
	padding-top: 10px;
	font-size: 15px;
}

.scanner_running {
	color: red;
}
/* Css to the Dialog in Update Feature*/
.ui-dialog .ui-dialog-content {
	border: 0;
	padding: .5em 1em;
	background: #000000;
	overflow: auto;
	zoom: 1;
}
.ui-dialog .ui-dialog-titlebar {
	background: #000000;

}
.ui-dialog .ui-dialog-buttonpane .ui-dialog-buttonset {
   float: none;
}		
.ui-dialog .ui-dialog-buttonpane {
	text-align: center; !important
}
